body {
    font-family: "Times New Roman", serif;
    font-size: 12pt;

}

.gluten {
    font-weight: bold;
}
.laktos {
    font-weight: bold;
}


.Vegetarisk {
    font-weight: bold;
    color: green;
}


#burgare {
    padding: 10px;
    margin: 20px;
    background-color: black;
    color: white;
    border-style: dashed;
    border-width: 2px;
    border-color: white;
}

.burger-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


#info {
    padding: 10px;
    margin: 20px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
}


section {
    margin: 40px;
    padding: 20px;
}

    
header h1  {
z-index: 2;
color: yellow;
font-size: 48pt;
text-shadow: 2px 2px 4px #000000;

}


header {
    width: 100%;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.9;
  
}
